* {
    padding: 0px;
    margin: 0px;
}
#back-div {
    background-color: #11222C;
    position: absolute;
    padding-left: 117px;
    padding-right: 117px;
    margin-left: 15%;
    margin-top: 77px;
    padding-bottom: 24px;
    border-radius: 59px;
   
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 10px;
    
  }

  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  
#dog-img {
    display: flex;
    width: 330px;
    margin-left: 27%;
    transform: scaleX(-1);
    padding-bottom: 17px;
    
}

#last-img {
    position: absolute;
    margin-top: -303px;
    width: 271px;
    padding-top: 129px;
    left: 85%;
}



/*button */
.button {
    border-radius: 4px;
    background-color: #276562;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 300px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 20px;
    margin-right: 100px;
  
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button-PLAY {
      background-color: #F6C624;
  }


  /*button */



  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    border-radius: 20PX;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 44%;
  }
  .modal-content p {
    font-size: 30PX;
    text-align: center;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
h1 {
  text-align: center;
  color: #F6C624;
  margin-bottom: 20px;
}
